@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 0 0% 98%;
    --foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
  }
}


@layer base {
  * {
    @apply border-border
  }
  body {
    @apply bg-primary text-foreground font-mono
  }
}